<div class="aboutLogo">
	<a href="#home"><img src="assets/img/home_logo.png"></a>
	<a href="#home"><h1> S I Q U E I R O S <span> TM <span></h1></a>
	<img src="assets/img/title_line.png">
</div>
<div class="aboutText">
	<div class="row center">
		<div class="col-lg-6">
			<h1><%= polyglot.t('aboutTitle1') %></h1>
			<div class="flex">
				<%= polyglot.t('aboutText1') %>
			</div>
		</div>
	</div>
	<div class="row center">
		<div class="col-lg-6">
			<h1><%= polyglot.t('aboutTitle2') %></h1>
			<div class="flex">
				<%= polyglot.t('aboutText2') %>
			</div>
		</div>
	</div>
<br>
</div><!-- container -->
<br>