<div class="aboutLogo">
  <a href="#home"><img src="assets/img/home_logo.png"></a>
  <a href="#home"><h1> S I Q U E I R O S </h1></a>
  <img src="assets/img/title_line.png">
  
</div>
<div class="collectionsText">
  <div class="row">
    <div class="col-lg-8">
      <h1><%= polyglot.t('menuCollection') %></h1>
      <br>
      <div class="row">
        <div class="col-lg-5">
          <img src="assets/img/col1a.jpg">
        </div>
        <div class="col-lg-6">
          <img src="assets/img/insulationlogo.png">
          <br>
          <p><%= polyglot.t('insulationText') %></p>
            <br>
            <button class="btn btn-success" id="insulation"><%= polyglot.t('buttonMore') %></button>
        </div>
      </div>
    </div>
  </div>
<br>
</div><!-- container -->
<br>
