<div class="row">
	<div id="contactContainer" class="col-lg-7 center">
		<a href="#home"><img src="assets/img/title_logo.png"></a>
		<a href="#home"><h1> S I Q U E I R O S </h1></a>
		<img src="assets/img/title_line.png">
		<h3><%= polyglot.t('contactTitle') %></h3>
		<h2><%= polyglot.t('contactSubtitle') %></h2>
		<div class="col-lg-6">
			<br>
			<span class="icon icon-envelop"></span> <a href="#"> info@siqueiros.co</a> <br/>
			<span class="icon icon-facebook"></span> <a href="#"> Siqueiros</a> <br/>
		</div>
		<div class="col-lg-6">
			<form class="form-horizontal" role="form">
			  	<div class="form-group">
			      <input type="email" class="form-control" id="inputEmail" placeholder=<%= polyglot.t('formMail') %>>
			      <br>
			      <input type="text" class="form-control" id="inputName" placeholder=<%= polyglot.t('formName') %>>
			      <br>
			      <textarea type="textfield" class="form-control" id="inputText" placeholder=<%= polyglot.t('formQuestion') %>></textarea>
			      <br>
			      <button class="btn btn-success" id="formSend"><%= polyglot.t('formSend') %></button>
			    </div>
		   </form><!-- form -->
		  <label class="hidden alert alert-danger" id="formError">Mensaje No Enviado, Intentelo de Nuevo</label> 
		  <label class="hidden alert alert-success" id="formSuccess">Mensaje Enviado</label>
		</div>
	</div><!-- col -->
</div><!-- row -->