<div class="aboutLogo">
	<a href="#home"><img src="assets/img/home_logo.png"></a>
	<a href="#home"><h1> S I Q U E I R O S <span> TM <span></h1></a>
	<img src="assets/img/title_line.png">
  
</div>
<div class="designerText">
	<div class="row center">
		<div class="col-lg-6">
			<h1>Acerca de la Diseñadora</h1>
			<h2>ESTEFANIE SEQUEIRA</h2>
			<br>
			<h4>Diseñadora de Modas de la Universidad Creativa</h4>
			<div class="flex">
				<p>Siqueiros es el complemento perfecto para  la mujer contemporánea. Aquellas que caminan seguras de si mismas con grandes retos y ambiciones. Y que en un ambiente urbano conocen la importancia de una vida saludable. Son mujeres cultas y consientes de la sociedad, que se abren paso al éxito y no creen en los límites. Para ellas, Siqueiros ofrece colecciones contemporáneas e inteligentes que hacen más práctico su diario vivir. Fundiendo la estética y las últimas tendencias de la moda en su día a día.</p>
			</div>
		</div>
	</div>
<br>
</div><!-- container -->
<br>