<div class="insulationText">
  <div class="row">
    <div class="col-lg-7">
      <a href="#home"><img src="assets/img/home_logo.png"></a>
      <a href="#home"><h1> S I Q U E I R O S </h1></a>
      <img src="assets/img/insulationlogo.png">
      <br> 
      <div>
        <img src="assets/img/col1a.jpg"  class="imageView">
      </div>
    </div>
    <div class="col-lg-5">
      <h1><%= polyglot.t('collectionsSubtitle') %></h1>
      <img src="assets/img/title_line.png">
      <br>
      <p>La colección se encuentra inspirada en el trabajo
        del artista Michael Kukla. Su obra se resalta por el
        uso de espacios negativos, limpieza orgánica y utiliza
        como elemento esencial el hexágono. Observa la
        degradación de los objetos a causa del agua y el
        aire. La colección acoge la limpieza y la nitidez del
        artista con líneas simples jugando con estructura y
        fluidez. Además todas las prendas son tratadas con
        químicos naturales que las hacen hidrofóbicas .
        Esto repele el agua evitando manchas, derrames y
        manteniendo la prenda limpia por más tiempo.</p>
      <br>
      <div class="imagePreview">
        <img src="assets/img/col1b.jpg" class="col1a">
        <img src="assets/img/col3b.jpg"  class="col3a">
        <img src="assets/img/col2b.jpg"  class="col2a">
        <br>
        <img src="assets/img/col4b.jpg" class="col4a">
        <img src="assets/img/col5b.jpg"  class="col5a">
        <img src="assets/img/col6b.jpg"  class="col6a">
        <br>
        <img src="assets/img/col7b.jpg" class="col7a">
        <img src="assets/img/col8b.jpg"  class="col8a">
        <img src="assets/img/col9b.jpg"  class="col9a">
        <br>
        <img src="assets/img/col10b.jpg" class="col10a">
        <img src="assets/img/col11b.jpg"  class="col11a">
        <img src="assets/img/col12b.jpg"  class="col12a">
        <br>
        <img src="assets/img/col13b.jpg" class="col13a">
        <img src="assets/img/col14b.jpg"  class="col14a">
        <img src="assets/img/col15b.jpg"  class="col15a">
        <br>
      </div>
    </div>
  </div>
<br>
</div><!-- container -->
<br>
