<div class="languagebar">
    <a href="#en">EN</a><br>
    <a href="#es">ES</a><br>
    <a href="#fr">FR</a>
</div>
<ul>
    <li>
        <div class="col-lg-2">
            <div class="circleBase circleBase1"></div>
            <a href="#about">Siqueiros</a>
        </div>
    </li>
    <li>    
        <div class="col-lg-2">
            <div class="circleBase circleBase2"></div>
            <a href="#collection"><%= polyglot.t('menuCollection') %></a>
        </div>
    </li>
    <li>    
        <div class="col-lg-2">
            <div class="circleBase circleBase3"></div>
            <a href="#shop"><%= polyglot.t('menuShop') %></a>
        </div>
    </li>
    <li>    
        <div class="col-lg-2">
            <div class="circleBase circleBase4"></div>
            <a href="#designer"><%= polyglot.t('menuDesigner') %></a>
        </div>
    </li>
    <li>    
        <div class="col-lg-2">
            <div class="circleBase circleBase5"></div>
            <a href="#styling"><%= polyglot.t('menuStylism') %></a>
        </div>
    </li>
    <li>    
        <div class="col-lg-2">
            <div class="circleBase circleBase6"></div>
            <a href="#contact"><%= polyglot.t('menuContact') %></a>
        </div>
    </li>
</ul>