<div class="insulationText">
  <div class="row">
    <div class="col-lg-7">
      <a href="#home"><img src="assets/img/home_logo.png"></a>
      <a href="#home"><h1> S I Q U E I R O S </h1></a>
      <br> 
      <div>
        <img src="assets/img/styling1.jpg"  class="imageView">
      </div>
    </div>
    <div class="col-lg-5">
      <h1><%= polyglot.t('menuStylism') %></h1>
      <img src="assets/img/title_line.png">
      <br>
      <p><%= polyglot.t('stylingText') %></p>
      <br>
      <div class="imagePreview">
        <img src="assets/img/styling1.jpg" class="styling1">
        <img src="assets/img/styling2.jpg"  class="styling2">
        <img src="assets/img/styling3.jpg"  class="styling3">
        <br>
        <img src="assets/img/styling4.jpg" class="styling4">
        <img src="assets/img/styling5.jpg"  class="styling5">
        <img src="assets/img/styling6.jpg"  class="styling6">
        <br>
        <img src="assets/img/styling7.jpg" class="styling7">
        <img src="assets/img/styling8.jpg"  class="styling8">
        <img src="assets/img/styling10.jpg"  class="styling10">
        <br>
        <img src="assets/img/styling9.jpg" class="styling9">
        <br>
      </div>
    </div>
  </div>
<br>
</div><!-- container -->
<br>
